@import "libs/reset.scss";
@import "libs/responsive.scss";
@import "libs/_base";
@import "libs/_typographie";

main {
    padding: 4% 0;
  }

.content-section {
  margin: 40px 0;

  @media screen and (min-width: 900px) {
    justify-content: space-between;
    display: flex;
  }
}

.img-front {
  overflow: hidden;
}
img {
 transition: 0.8s;
}

.img-front:hover img {
  transform: scale(1.1);
}

.content-section:nth-child(even) {
  flex-direction: row-reverse!important;

  .img {
    flex-direction: row-reverse!important;
  }

  .img-front {
    position: relative; 
    top: 20px; 
    left: -80px;
  }
}

.content-section:nth-child(odd) {
  .img-front {
    position: relative; 
    top: 20px; 
    left: 100px; 
  }}

.questions {
  width: 100%;
}

.questions p {
  font-size: 23px;
  line-height: 1.5em;
  font-weight: 600;

}

.form-element2 {
  font-size: 20px;
  font-weight: 400;
}

.img {
  display: flex;
  width: 100%;
}

.info {
  margin: auto 10%;
  @media screen and (max-width: 564px) {
    margin: auto 0;
  }}

  .info-candidate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .form-element1 { 
    flex-basis: 47%;

    @media screen and (max-width: 673px) {
      flex-basis: 100%;
    }
}

  .form-element {
    width: 100%;
  }

  .form-element1, .form-element {
    margin-bottom: 15px;
    background: $thirdly;
    border: 2px solid $secondary;
    color: $primary;
    height: 60px;
    padding-left: 40px;
    padding-right: 80px;
    font-family: $font-body;
    font-size: 20px;
    padding: 0px 5px;
}

.odd-questions, .even-questions {
  margin: 15px 0;
}

.img-wrapper-odd {
  display: flex;
}

.img-wrapper-even {
  display: flex;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background: $secondary;
}